*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
     font-family: 'Lato', sans-serif;
}
.main{
    background-color: #7ee8fa;
    background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__square{
        min-height: 80vh;
        width: 70%;
        background:linear-gradient(to left bottom,rgba(255,255,250,0.5), rgba(255,255,255,0.4));
        box-shadow: 0 10px 30px -10px rgba(0,0,0,.6);
        z-index: 100;
        border-radius: 44px;
     
    }
}

img{
    width: 100%;
}
.images{
    display:flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top:-60px;
    width: 100%;


    &__leaf{
        width: 50px;
        animation: leaf 7s linear infinite;
        opacity: 0;
        &:nth-child(1){
            animation-delay: 2s;
        }
        &:nth-child(2){
            animation-delay: 1.1s;
        }
        &:nth-child(3){
            animation-delay: 5s;
        }
        &:nth-child(4){
            animation-delay: 3s;
        }
        &:nth-child(5){
            animation-delay: 4.2s;
        }
        &:nth-child(6){
            animation-delay: 1.5s;
        }
        &:nth-child(7){
            animation-delay: 5.4s;
        }
    }

   
}


@keyframes leaf{
    0%{
        transform: translateY(0vh);
        opacity: 1;

    }

    50%{
       
        opacity: 1;
    }

    75%{
       
        opacity: 1;
    }
    100%{
        transform: translateY(80vh);
        opacity: 0;
    }
}


.swiper{

    &-container{
        width: 100%;
        height: 80vh;    

    }

    &-scrollbar{
        display: none;
    }

  }


.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
    height: 5rem;
   
    padding: 2rem 3rem;
    color: #fff;
    &__text{
        letter-spacing: 0.3rem;
        font-size: 2.2rem;
    }
    &--green{
        background-color: #0c5c2c;
    }
    &--yellow{
        background-color: #c27e25;
    }
    &--red{
        background-color: #7a1f1f;
    }
}

.showcase{
    text-align: center;
    padding: 0.3rem 3rem;
    &__paragraph{
        font-size: 1.2rem;
    }
    
    &__questions{
        display: flex;
        margin-top: 2rem;
        padding: 1rem;
    }

    &__question{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    //SLIDE-2

    &__row{
        padding: 0.3rem;
        display: flex;
        text-align: center;
        justify-content: center;
      
    }

    &__text{
        flex-basis: 45%;
        padding: 1rem;
        text-align: center;

        &-container{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            align-self: center;
        }
        &-tree{
            width: 3rem;
            &--animation{
                -webkit-animation: rotate 4s; /* Safari, Chrome and Opera > 12.1 */
                -moz-animation: rotate 4s; /* Firefox < 16 */
                -ms-animation: rotate 4s; /* Internet Explorer */
                -o-animation: rotate 4s; /* Opera < 12.1 */
                animation: rotate 4s;
            }
        }
    }

    //SLIDE-3
    &__block{
        margin-top: 1rem;
        display: flex;
        padding: 1rem;
        width: 100%;
        justify-content: center;

        &-image{
            width: 15rem;
           
        }
        &-paragraph{
            padding: 1rem;
            text-align: left;
            width: 70%;

            &--second{
                text-align: right;
                width: 70%;
            }
        }
    }


}

.question{
    font-size: 1.5rem;
    font-weight: 800;
    border: 3px solid #0c5c2c;
    border-radius: 50%;
    padding: 1rem ;
    height: 200px;
    width: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover{
        background:#0c5c2c;
        color: #fff;
        transition: 0.5s ease-out;
    }
}

.answer{
    margin-top: 1rem;
    font-size: 1.5rem;
    display: none; 

}

// Animation tree
@keyframes rotate{
    to {
        transform: rotate(360deg);
      }
    
}