* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  overflow-y: scroll; }

.main {
  background-color: #7ee8fa;
  background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .main__square {
    height: 70vh;
    width: 70%;
    background: linear-gradient(to left bottom, rgba(255, 255, 250, 0.5), rgba(255, 255, 255, 0.4));
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.6);
    z-index: 100;
    border-radius: 44px; }

img {
  width: 100%; }

.images {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: -60px;
  width: 100%; }
  .images__leaf {
    width: 50px;
    animation: leaf 7s linear infinite;
    opacity: 0; }
    .images__leaf:nth-child(1) {
      animation-delay: 2s; }
    .images__leaf:nth-child(2) {
      animation-delay: 1.1s; }
    .images__leaf:nth-child(3) {
      animation-delay: 5s; }
    .images__leaf:nth-child(4) {
      animation-delay: 3s; }
    .images__leaf:nth-child(5) {
      animation-delay: 4.2s; }
    .images__leaf:nth-child(6) {
      animation-delay: 1.5s; }
    .images__leaf:nth-child(7) {
      animation-delay: 5.4s; }

@keyframes leaf {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  50% {
    opacity: 1; }
  75% {
    opacity: 1; }
  100% {
    transform: translateY(80vh);
    opacity: 0; } }

.swiper-container {
  width: 100%;
  height: 80%;
  touch-action: none; }

.swiper-scrollbar {
  display: none; }

.swiper-button-prev, .swiper-button-next {
  color: #000; }

.swiper-pagination-bullet {
  background: #000; }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
  padding: 2rem 3rem;
  color: #fff; }
  .header__text {
    letter-spacing: 0.3rem;
    font-size: 2.2rem; }
  .header--green {
    background-color: #0c5c2c; }
  .header--yellow {
    background-color: #c27e25; }
  .header--red {
    background-color: #7a1f1f; }

.showcase {
  text-align: center;
  padding: 0.3rem 3rem; }
  .showcase__paragraph {
    font-size: 1.2rem; }
  .showcase__questions {
    display: flex;
    margin-top: 2rem;
    padding: 1rem; }
  .showcase__question {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
  .showcase__row {
    padding: 0.3rem;
    display: flex;
    text-align: center;
    justify-content: center; }
  .showcase__text {
    flex-basis: 45%;
    padding: 1rem;
    text-align: center; }
    .showcase__text-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-self: center; }
    .showcase__text-tree {
      width: 3rem; }
      .showcase__text-tree--animation {
        -webkit-animation: rotate 4s;
        /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: rotate 4s;
        /* Firefox < 16 */
        -ms-animation: rotate 4s;
        /* Internet Explorer */
        -o-animation: rotate 4s;
        /* Opera < 12.1 */
        animation: rotate 4s; }
  .showcase__block {
    margin-top: 0.5rem;
    display: flex;
    padding: 1rem;
    width: 100%;
    justify-content: center; }
    .showcase__block-image {
      width: 15rem;
      border: 0.4rem solid #7a1f1f; }
    .showcase__block-paragraph {
      padding: 1rem;
      text-align: left;
      width: 70%;
      font-size: 1.1rem; }
      .showcase__block-paragraph--second {
        text-align: right;
        width: 70%; }

.question {
  font-size: 1.5rem;
  font-weight: 800;
  border: 3px solid #0c5c2c;
  border-radius: 50%;
  padding: 1rem;
  height: 200px;
  width: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  .question:hover {
    background: #0c5c2c;
    color: #fff;
    transition: 0.5s ease-out; }

.answer {
  margin-top: 1rem;
  font-size: 1.5rem;
  display: none; }

@keyframes rotate {
  to {
    transform: rotate(360deg); } }

@media screen and (max-width: 768px) {
  .main__square {
    min-height: 95vh;
    width: 80%; }
  .swiper-container {
    height: 96vh; }
  .header {
    height: 0rem;
    padding: 1.4rem 3rem; }
    .header__text {
      font-size: 1.3rem; }
      .header__text--height {
        font-size: 1rem;
        text-align: center; }
  .showcase {
    padding: 0rem 1.3rem; }
    .showcase__questions {
      flex-direction: column;
      margin-top: 0.5rem;
      padding: 0rem; }
    .showcase__question {
      padding: 0.4rem; }
    .showcase__paragraph {
      font-size: 1rem; }
    .showcase__row {
      margin-top: 1rem; }
    .showcase__text {
      padding: 0.1rem; }
      .showcase__text-tree {
        width: 2rem; }
      .showcase__text-header {
        font-size: 1rem;
        text-align: left; }
    .showcase__block {
      flex-direction: row;
      text-align: center;
      align-items: center;
      width: 100%;
      margin-top: 0.2rem;
      padding: 1rem; }
      .showcase__block-image {
        width: 8rem;
        height: 8rem;
        border: 0.1rem solid #7a1f1f;
        margin: 0.3rem; }
      .showcase__block-paragraph {
        padding: 0.2rem;
        text-align: left;
        width: 90%;
        font-size: 0.8rem; }
        .showcase__block-paragraph--second {
          text-align: right;
          width: 90%; }
  .question {
    padding: 0.4rem;
    height: 125px;
    width: 125px;
    font-size: 1rem; }
  .answer {
    font-size: 1rem;
    margin-top: 0.2rem; } }
